# Git
.git
.github
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
env/
venv/
ENV/

# Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Project specific
logs/
data/
*.log
settings.json
cookies.jar
lock.file

# Build related
build.bat
build.sh
pack.bat
setup_env.bat
setup_env.sh

# Docker
Dockerfile
docker-compose.yml
.dockerignore
