aiohttp>=3.9,<4.0
Pillow
pystray
PyGObject; sys_platform == "linux" # required for better system tray support on Linux
# selenium-wire
# undetected-chromedriver
# this is installed only on windows
pywin32; sys_platform == "win32"
truststore; sys_platform == "linux" and python_version >= "3.10"
